@model LoginViewModel

<h2>Вход</h2>
<form asp-action="Login" method="post">
    <div>
        <label>Логин</label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label>Пароль</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <button type="submit">Я уже смешарик</button>
    <button type="submit" formaction="/Account/Register">Я новенький</button>

</form>