@model ShopASP.Web.Models.ReserPasswordViewModel

<h2>Сброс пароля</h2>
<form asp-action="ResetPassword" method="post">
    <div>
        <label>ID пользователя</label>
        <input asp-for="UserID" />
        <span asp-validation-for="UserID"></span>
    </div>
    <div>
        <label>Новый пароль</label>
        <input asp-for="NewPassword" type="password" />
        <span asp-validation-for="NewPassword"></span>
    </div>
    <button type="submit">Сбросить пароль</button>
</form>
