@model ShopASP.Web.Models.ReserPasswordViewModel

@{
    ViewData["Title"] = "Login";
}

<h2>Сброс пароля</h2>
<form asp-action="ResetPassword" method="post">
    <div>
        <label>Логин</label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label>Новый пароль</label>
        <input asp-for="NewPassword" type="password" />
        <span asp-validation-for="NewPassword"></span>
    </div>
    <button type="submit" class="btn btn-primary">Сбросить пароль</button>
</form>
