@model ShopASP.Web.Models.ProductViewModel

@{
    ViewData["Title"] = "Edit page";
}

<h1>Edit</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.pID" />

            <div class="form-group">
                <label asp-for="Product.pName" class="control-label"></label>
                <input asp-for="Product.pName" class="form-control" />
                <span asp-validation-for="Product.pName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.pDescription" class="control-label"></label>
                <input asp-for="Product.pDescription" class="form-control" />
                <span asp-validation-for="Product.pDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.pCost" class="control-label"></label>
                <input asp-for="Product.pCost" class="form-control" />
                <span asp-validation-for="Product.pCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.pQuantity" class="control-label"></label>
                <input asp-for="Product.pQuantity" class="form-control" />
                <span asp-validation-for="Product.pQuantity" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Домашняя</a>
</div>
