@model IEnumerable<IdentityRole>
@using Microsoft.AspNetCore.Identity

<h2>Список ролей</h2>

<table class="table">
    <thead>
        <tr>
            <th>Название роли</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <a asp-action="EditRole" asp-route-roleId="@role.Id" class="btn btn-primary">Изменить</a>
                    <a asp-action="DeleteRole" asp-route-roleId="@role.Id" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="CreateRole" class="btn btn-success">Добавить новую роль</a>