@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<IdentityUser>

<h2>Список пользователей</h2>

<table class="table">
    <thead>
        <tr>
            <th>Имя пользователя</th>
            <th>Роли</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>
                    @{
                        var roles = await UserManager.GetRolesAsync(user);
                    }
                    @string.Join(", ", roles)
                </td>
                <td>
                    <a asp-action="EditUserRole" asp-route-userId="@user.Id" class="btn btn-primary">Изменить роль</a>
                </td>
            </tr>
        }
    </tbody>
</table>